body {
	font-family: 'Montserrat', sans-serif;
	background:  #026A9F ;
}

header {
	background: #BBBBBB;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}
.titulo-principal{
	text-align: center;
}
.Carros {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
	padding: 20px 750px ;
}

.Carros li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
	background-color: #BBBBBB;
}

.Carros li:hover {
	border-color: #C78C19;
}

.Carros li:active {
	border-color: #088C19;	
}

.infos{
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}
.Detalhes{
	width: 300px;
	margin-left: 790px;
	text-align: center;
	border: 2px solid #000000;
	border-radius: 10px;
	background-color: #BBBBBB;
}
h1{
	text-align: center;
}

.Valores_desconto_semana{
	width: 300px;
	margin-left:790px;
	margin-top: 10px;
	text-align: center;
	border: 2px solid #000000;
	border-radius: 10px;
	background-color: #BBBBBB;
}

:root {
    --cor-primaria-reserva: #C78C19;
    --cor-hover-reserva: rgb(116, 158, 137);
    --cor-secundaria-reserva: rgb(27, 66, 50);

}
.btn {
	border: none;
    text-decoration: none;
    cursor: pointer;
    transition: background .3s;
    border-radius: 5px;
	padding: 10px;
	width: 200px;
	height: 50px;
	margin: 10px;
}

/*SUCCESS*/
.reserva{
	text-align: center;
	padding: 20px 830px ;
}
.btn-reserva {
    background-color: var(--cor-primaria-reserva);
    outline: none;
    color: var(--cor-secundaria-reserva)
}

.btn-reserva:hover {
    background-color: var(--cor-hover-reserva);
}

.btn-reserva:active {
    color:var(--cor-primaria-reserva);
    background-color: var(--cor-secundaria-reserva);
}

footer {
	text-align: center;
	background: url("bg.jpg");
	padding: 40px 0;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}