body {
	font-family: 'Montserrat', sans-serif;
	background:  #026A9F ;
}

header {
	background: #BBBBBB;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}
.banner {
	width:100%;
}

 /* main */
 .principal{
	background: #bbbbbb;
	padding: 50px;
}

.titulo-principal {
	padding-left: 30px;
	color: #C78C19;
	font-family: Copperplate, Papyrus, fantasy;
	font-size: 40px;
	text-align: center;
}
.beneficios
{
	text-align: center;
	font-size: 20px;
}

.descrição {
	font-size: 20px;
	text-align: center;
}

#divBusca{
	background-color:#eceef3;
	border:solid 2px #C78C19;
	border-radius:10px;
	width:770px;
	height:34px;
	margin-left: 560px;
    margin-top: 30px;
	padding: 10px 10px;
	}
  #txtBusca{
	background-color:#eceef3;
	border:solid 2px #C78C19;
	border-radius:10px;
	padding-left:5px;
	font-size:18px;
	height:32px;
	width:310px;
}
  .btn-Busca{text-align: center;
	padding: 20px 830px ;
	font-size:18px;
	margin-left: 680px;
	margin-top: -36px;
	width:900px;
	font-weight:bold;
	background:#C78C19;
	outline: none;
}
  #datainicio{
	padding: 5px;
	font-size:18px;
	border-radius:10px;
	background-color:#eceef3;
	border:solid 2px #C78C19;
}
  #datadevolução{
	padding: 5px;
	font-size:18px;
	border-radius:10px;
	background-color:#eceef3;
	border:solid 2px #C78C19;
}

.Carros {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.Carros li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
	background-color: #BBBBBB;
}

.Carros li:hover {
	border-color: #C78C19;
}

.Carros li:active {
	border-color: #088C19;	
}

.Carros li:hover h2 {
	font-size: 34px;
}
.Carros div{
	text-align: center;
}
.beneficios {
	background: #FFFFFF;
	padding: 20px;
}

:root {
    --cor-primaria-estoque: #C78C19;
    --cor-hover-estoque: rgb(116, 158, 137);
    --cor-secundaria-estoque: rgb(27, 66, 50);
	--cor-primaria-SaibaMais: #C78C19;
    --cor-hover-SaibaMais: rgb(116, 158, 137);
    --cor-secundaria-SaibaMais: rgb(27, 66, 50);

}
.btn {
    border: none;
    text-decoration: none;
    cursor: pointer;
    transition: background .3s;
    border-radius: 5px;
	padding: 10px;
	width: 200px;
	height: 50px;
	margin: 10px;
}

/*Estoque*/

.estoque{
	text-align: center;
	padding: 20px 830px ;
}

.btn-estoque {
    background-color: var(--cor-primaria-estoque);
    outline: none;
    color: var(--cor-secundaria-estoque);
}

.btn-estoque:hover {
    background-color: var(--cor-hover-estoque);
}

.btn-estoque:active {
    color:var(--cor-primaria-success);
    background-color: var(--cor-secundaria-estoque);
}
/*SaibaMais*/
.btn-SaibaMais {
    background-color: var(--cor-primaria-SaibaMais);
    outline: none;
    color: var(--cor-secundaria-SaibaMais)
}

.btn-SaibaMais:hover {
    background-color: var(--cor-hover-SaibaMais);
}

.btn-SaibaMais:active {
    color:var(--cor-primaria-SaibaMais);
    background-color: var(--cor-secundaria-SaibaMais);
}
footer {
	text-align: center;
	background: url("bg.jpg");
	padding: 40px 0;
}
.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}










